[defaults]
retry_files_enabled = False
inventory = inventories/nas/inventory
become_password_file = password_file
become = True
vault_password_file = password_file


# fact caching
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/facts_cache

# two hours timeout
fact_caching_timeout = 7200

